ul li {
  list-style: none;
  margin-bottom: 20px;
}

#container {
  width: 800px;
  margin: 50px auto;
}

fieldset {
  margin-bottom: 10px;
}

ul li label {
  width: 100px;
  float: left;
}

select {
  width: 150px;
  height: 25px;
}

form {
  width: 500px;
}
